* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.main-heading {
    min-height: 100vh;
    background-color: hsl(210, 46%, 95%);
}

.main-heading .container {}

.main-heading .container .box {
    display: flex;
    gap: 30px;
}

.main-heading .container .box .four {
    display: grid;
    grid-template-columns: 22% 22% ;
    grid-template-rows: 22% 22%;
}

.main-heading .container .box .four .main-name{
  
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
}
.main-heading .container .box .four .main-name:first-of-type{
    background-color:  hsl(263, 55%, 52%);
}
.main-heading .container .box .four .main-name:nth-of-type(2){
    background-color:   hsl(217, 19%, 35%);
    width: 45%;
}
.main-heading .container .box .four .main-name:nth-of-type(3){
    background-color:    hsl(0, 0%, 100%);
    width: 50%;
}

.main-heading .container .box .four .main-name:last-of-type{
    background-color: hsl(219, 29%, 14%);
   
}


.main-heading .container .box .four .main-name .title {
    display: flex;
    align-items: center;
    gap: 10px;
}

.main-heading .container .box .four .main-name .title .person-image img {
    border: 1px solid white;
    border-radius: 50%;
}
.main-heading .container .box .four .main-name .title h3{
color: white;
font-size: 15px;
}
.main-heading .container .box .four .main-name:nth-of-type(3) h3{
    color: #717a71;
}
.main-heading .container .box .four .main-name .title h4{
    color: #ccc;
    font-size: 13px;
}
.main-heading .container .box .four .main-name  h1{
    font-size: 20px;
}
.main-heading .container .box .four .main-name:first-of-type h1 , .main-heading .container .box .four .main-name:nth-of-type(2) h1 
, .main-heading .container .box .four .main-name:last-of-type h1{
    color: white;
}
.main-heading .container .box .four .main-name p{
    color: #ccc;
    font-size: 13px;
}


.main-heading .container .box .kira{
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 35%;
    height: 100%;
    padding: 30px;
}
.main-heading .container .box .kira .title{
    display: flex;
    align-items: center;
    gap: 10px;
}
.main-heading .container .box .kira .title .person-image img{
border: 1px solid white;
border-radius: 50%;
}
.main-heading .container .box .kira h3{
    font-size: 15px;
}
.main-heading .container .box .kira h4{
    color: #ccc;
    font-size: 13px;
}
.main-heading .container .box .kira h1{
    font-size: 20px;
}
.main-heading .container .box .kira p{
    color: #ccc;
    font-size: 13px;
}